
$block-name: 'first-banner';

.#{$block-name} {
	background: rgb(7, 43, 66);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 15rem;
	padding-top: 7rem;
	position: relative;

	&__bg {
		position: absolute;
		width: 120%;
		height: 100%;
		top: 0;
		left: -10%;
		

		&-layer {
			width: 110%;
			height: 100%;
			background-size: cover;
			background-image: url('/images/stars-bg.jpg');
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	@include for-width('mobile3') {
		padding-bottom: 12rem;
	}

	&__tabs {
		width: 100%;
		margin-top: 1rem;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@include for-width('mobile3') {
			margin-top: 3.25rem;
		}
	}

	&__tab {
		max-width: 360px;
		width: calc(100% / 3);
		padding-bottom: 0.75rem;
		position: relative;
		cursor: pointer;
		text-align: center;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background: rgba($color-white, 0.2);
		}

		&-line {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 2px;
			background: $color-orange;
			opacity: 0;
			display: none;
		}

		&:hover {
			.#{$block-name}__tab-tag {
				opacity: 1;
			}
			.#{$block-name}__tab-description {
				opacity: 1;
			}
		}

		&--active {
			.#{$block-name}__tab-line {
				display: block;
			}

			.#{$block-name}__tab-tag {
				opacity: 1;
			}
			.#{$block-name}__tab-description {
				opacity: 1;
			}
		}

		@include for-width('mobile3') {
			text-align: start;
		}
	}

	&__tab-tag {
		display: inline-block;
		font-weight: 500;
		font-size: 0.7rem;
		line-height: 0.85rem;
		border-radius: 1.5rem;
		color: $color-white;
		padding: 0.4rem 0.9rem;
		opacity: 0.6;
		transition: opacity 0.5s;

		@include for-width-down('mobile3') {
			padding: 0;
			background-color: transparent !important;
		}
	}

	&__tab-description {
		opacity: 0.6;
		transition: opacity 0.5s;
		margin-top: 1.1rem;
		font-size: 0.8rem;
		line-height: 0.8rem;
		color: $color-white;
		display: none;
		font-weight: 400;

		@include for-width('mobile3') {
			display: block;
		}

		@include for-width('middle2') {
			font-size: 18px;
			line-height: 1.25rem;
		}

		.next {
			margin-left: 5px;
		}
	}

	&__slider {
		position: relative;
	}

	&__slide {
		display: flex;
		justify-content: space-between;
		color: $color-white;
		flex-wrap: wrap;
	}

	&__slide-content {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		order: 1;

		@include for-width('mobile3') {
			width: 50%;
			order: 0;
		}
	}

	&__slide-img {
		width: 100%;
		margin-bottom: 1.5rem;
		text-align: center;

		@include for-width('mobile3') {
			width: 50%;
			margin-bottom: 0;
			text-align: start;
		}

		img {
			width: 100%;
		}
	}

	&__slide-title {
		margin-bottom: 1rem;
		max-width: 600px;
	}

	&__slide-subtitle {
		font-size: 0.9rem;
		line-height: 1.05rem;
		opacity: 0;
		max-width: 600px;
	}

	&__slide-link {
		margin-top: 1.5rem;
		border: 1px solid $color-orange;
		padding: 0.65rem 40px;
		font-size: 0.8rem;
		line-height: 0.95rem;
		text-decoration: none;
		text-align: center;
		border-radius: 0.5rem;
		color: $color-white;
		display: inline-block;
		transition: 0.1s linear;

		@include for-width('mobile2') {
			width: auto;
		}

		&--anime {
			opacity: 0;
		}

		&:hover {
			background-color: $color-orange;
			color: $color-white;
			border: 1px solid $color-orange;

			&::after {
				box-shadow: 1px 1px 0.5rem $color-orange;
			}
		}
	}

	&__dots {
		position: absolute;
		z-index: 10;
		top: 25%;
		display: none;
		left: auto !important;
		width: 2.5rem !important;
		right: 0 !important;

		@include for-width('middle') {
			display: block;
		}
	}

	&__dot {
		color: $color-white;
		opacity: 0.7;
		font-weight: 300;
		font-size: 14px;
		line-height: 0.9rem;
		display: block;
		background: none;
		margin-bottom: 1.25rem !important;
		height: auto;
		width: auto;
		transition: all 0.3s;
        cursor: pointer;

		&--active {
			opacity: 1;
			font-size: 16px;
			line-height: 1.2rem;
			transform: translateX(-20px);
			position: relative;
            color: $color-orange;

			&::before {
				content: '';
				position: absolute;
				height: 1px;
				width: 1.25rem;
				background-color: $color-orange;
				top: 50%;
				transform: translateY(-50%);
				left: calc(75%);
				animation: line-animation 3s linear;
			}
		}
	}

	@keyframes line-animation {
		0% {
			width: 0;
		}

		100% {
			width: 1.25rem;
		}
	}
}